header{
  position: fixed;
  width: 100%;
  height: 20px;
  top: 0;
  vertical-align: middle;
  background-color: rgb(16, 16, 16);
  padding: 5px;
  border-bottom: 7px solid #b8b8b8;
  color: rgb(247, 247, 247);

  cursor:default;
  z-index: 100;
}

nav {
  padding-top: 2px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  margin-right: 8px;
}

.menu-bar > li {
  display: inline-block;
  margin-left: 8px;

}

.menu-bar > .menu-item:hover .sub-menu{
  /* display: block; */
  visibility:visible;
  opacity:1;
  transition:visibility 0.3s linear,opacity 0.3s linear;

}

.sub-menu {
  transition:visibility 0.3s linear,opacity 0.3s linear;
  /* display: none; */
  opacity:0;
  visibility: hidden;
  position: absolute;

  padding: 8px;


  background-color: rgb(16, 16, 16);
  border-bottom: 7px solid #b8b8b8;
  border-right: 5px solid #b8b8b8;

  transition: all 0.3s ease-in-out;
}

.sub-menu .menu-item{
  margin-bottom: 5px;
  margin-top: 1px;
  border-bottom: 1px solid #000;
  border-width: 0px;
  transition: all 0.2s ease-in-out;

}

.sub-menu .menu-item:hover{
  border-bottom: 1px solid #b8b8b8;
  border-width:100% ;
  transition: all 0.2s ease-in-out;
}